.left-photo, 
.right-photo {
  position: fixed;
  top: 120px;
  width: 220px;
  height: 550px;
  object-fit: cover;

  background: white;
  padding: 10px 10px 30px 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.25;
}

.left-photo {
  left: 25px;
  transform: rotate(-5deg);
}

.back-left {
  left: 5px;
  top: 100px;
  transform: rotate(8deg);
  z-index: -1;
}

.right-photo {
  right: 25px;
  transform: rotate(5deg);
}

.back-right {
  right: 5px
  top: 100px
  transform: rotate(-8deg);
  z-index: -1;
}
  
